*{
    margin:0; padding:0; box-sizaing:border-box;
    font-family: 'josefin sans',sans-serif;
}
header{
       width:100%; height:100vh;
       background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)),url('../website1/bgimage2.jpg');
       background-repeat:no-repeat;
       background-size:cover;

}
 nav{
     width:100%;height:15vh;
     background:black;
     color:white; display:flex; justify-content: space-between;
     align-items:center; text-transform:uppercase;

 }
 nav .logo{

           width:25%; text-align:center;
           /*background:red;*/

 }
  nav .menu{width:40%;
           /*background:yellow;*/
           display:flex; justify-content:space-around;


 }
 nav .menu a {
             width:25%; text-decoration:none; color:white;
             font-weight:bold;
 }
 nav .menu a:first-child{
 color:#00b894;
 }

 main{
     width:100%;
     height:85vh;
     display:flex;
     justify-content:center;
     align-items:center;
     text-align:center;
}
section{

}
section h3{
          font-size:35px; font-weight:200; letter-spacing:3px;
          text-shadow:1px 1px 2px black;

}
section h1{
          margin:30px 0 20px;
          font-size:55px; font-weight:700; letter-spacing:3px;
          text-shadow:2px 1px 5px black;
          text-transform:uppercase;
}

section p{
          font-size:25px;
          margin-bottom:25px;
          word-spacing:2px;

}
section a{
          padding:12px 30px;
          text-shadow:1px 1px 1px black;
          border-redius:4px;
          outline:none;
          text-transform:uppercase;
          font-size:13px;
          font-weight:500;
          text-decoration:none;
          letter-spacing:1px;
          trannsition=all .5s ease;

}
section .btnone{
                background: white;
                color: black;

}
.btnone:hover{background: white;
               color: blue;}

section .btntwo{
               background: white;
               color: blue;
}
.btntwo:hover{background: white;
                color: black;
}

.chande_contect:after{
                  content:'';
                  animation:changetext 10s infinite linear;
                  color:blue;
}
@keyframes changetext{
                 0%{content:"Darjeeling";}
                 10%{content:"Mumbai";}
                 20%{content:"Aurangabad";}
                 30%{content:"Pune";}
                 45%{content:"Paitahn";}
                 60%{content:"USA";}
                 80%{content:"Delhi";}
 }